* {
    align-content: center;
    text-align: center;
}

.body {
    background-color: blanchedalmond;
}

.center {
    align-content: center;
    text-align: center;
}

.aboutPara {
    width: 40%;
    border: 5px rgb(77, 26, 26) solid;
    background-color: #aaaaaa;
    border-radius: 5px;
    display: inline-block;
    align-content: center;
}

/* .flush {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
} */

.smallProject {
    width: 10%;
    align-content: center;
}

.mediumProject {
    width: 50%;
    align-content: center;
}

.mediumProject:hover {
    border: 5px red solid;
    border-radius: 60px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.nav {
    background-color: rgb(84, 73, 73);
    justify-content: center;
    width: 100%;
    height: 10%;
}

.footer {
    position: fixed;
    bottom: 0;
    justify-content: center;
}